{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Passwort ändern" %}{% endblock %}

{% block account %}
    {% include "main/messages.html" %}
    <h1>{% trans "Passwort ändern" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-md" type="submit" name="action">{% trans "Passwort ändern" %}</button>
        <a href="/profile" class="btn btn-primary btn-md">Abbrechen</a>
    </form>
{% endblock %}
