{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password zurücksetzen" %}{% endblock %}

{% block account %}

    <h1>{% trans "Password zurücksetzen" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Haben Sie Ihr Passwort vergessen? Tragen Sie bitte Ihre E-Mail Adresse ein und Sie erhalten in kürze eine E-Mail von uns, damit Sie ihr Passwort zurücksetzen können." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary btn-md" value="{% trans 'Password zurücksetzen' %}" />
    </form>

    <p>{% blocktrans %}Bitte konaktieren Sie uns, sollten Sie Probleme mit dem Zurücksetzen Ihres Passworts haben.{% endblocktrans %}</p>
{% endblock %}
