{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Profileinstellungen{% endblock title %}

{% block style %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "css/profile_edit.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-datetimepicker.css" %}" />
{% endblock style %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
<div class="row">
{% include "main/messages.html" %}
    <div class="col-md-2 profile_set_buttons">
        <div class="btn-group-vertical">
            <a href="/accounts/email/" class="btn btn-default">E-Mail ändern</a>
            <a href="/accounts/password/change/" class="btn btn-default">Passwort ändern</a>
        </div>
    </div>
    <div class="col-md-10">
        <h4>Persönliche Informationen</h4>
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action="profile_edit">
            <fieldset>
                {% csrf_token %}
                <div class="form-group">
                      <label for="{{ profileedit_form.biography.id_for_label }}" class="col-lg-2 control-label bio">{{ profileedit_form.biography.label_tag }}</label>
                      <div class="col-lg-10">
                        {{ profileedit_form.biography }}
                      </div>
                </div>

                <div class="form-group">
                      <label for="{{ profileedit_form.picture.id_for_label }}" class="col-lg-2 control-label">{{ profileedit_form.picture.label_tag }}</label>
                      <div class="col-lg-10">
                        <div class="pic">
                            {% if user.profile.picture %}
                                <a href="{{ user.profile.picture.url }}" target="_blank">
                                    <div class="img" style="background-image: url({{ user.profile.picture.url }})"></div>
                                </a>
                            {% else %}
                                <div class="img" style="background-image: url({% static 'img/placeholder.png' %})"></div>
                            {% endif %}
                        </div>
                        {{ profileedit_form.picture }}
                      </div>
                </div>

                <button type="submit" class="btn btn-primary btn1">Speichern</button>
            </fieldset>
        </form>

        {% if user.projectmember_set.all %}
            <div class="col-md-12 profile" >
                <h4>Meine Favoriten</h4>
                {% for favmovie in user.favmovies_set.all %}
                 <div class="col-md-3" >
                     <a href="{% url 'exit_project' favmovie.movie.id%}" class="btn btn-danger btn-sm">Nicht mehr favorisieren</a>
                     <div class=" pic-lg">
                         <a href="{% url 'project_show' favmovie.movie.id %}">
                            <div style="background-image: url({{ projectmember.project.logo.url }})" class="img"></div>
                             {{ favmovie.movie.name }}
                         </a>
                     </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if user.supervisor.is_supervisor %}
                {% if project %}
                    <div class="col-md-12 profile" >
                        <h4>Betreute Projekte</h4>
                        {% for project in project %}
                            <div class="col-md-3 pic-lg" >
                                <a href="{% url 'project_show' project.id %}">
                                    <div style="background-image: url({{ project.logo.url }})" class="img"></div>
                                    {{ project.name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/tinymce/tinymce.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/tinymce/tinymce.init.js" %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('.skills-formset').formset({
            prefix: '{{ formset.prefix }}'
        });
    })
</script>
{% endblock %}