<footer class="container">
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-unstyled">
                <li class="pull-right">
                    <a href="#top"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> Nach oben</a>
                </li>
                <li>
                    <a href="/imprint">Impressum</a>
                </li>
                <li>
                    <a href="/legal">Rechtliches</a>
                </li>
            </ul>
            <p>PythonIMDBAdvanced ist ein Projekt der <a href="http://www.hs-worms.de">Hochschule Worms</a></p>
            <p>© 2016 Hochschule Worms · Alle Rechte vorbehalten</p>
        </div>
    </div>
</footer>